.button-alone {
    background: #2874A6;
    border: 1px solid #2874A6;
    color: #fff;
}

.button-alone:hover {
    background: #fff;
    color: #2874A6;
}

.gradient:before {
    background: #fc00ff;
    background: -moz-linear-gradient(-45deg, #00dbde 0%, #fc00ff 100%); 
    background: -webkit-linear-gradient(-45deg, #00dbde 0%, #fc00ff 100%); 
    background: linear-gradient(#2874A6, #2E86C1 0%, #154360 100%); 
}

.skill-bar-inner {
    background: #2874A6;
}

.list_resume:before {
    border: 2px solid #2874A6;
}

.list_resume {
    border-left: 2px solid #2874A6;
}

.years {
    color: #2874A6;
}

.item-hover {
    background: #fc00ff;
    background: -moz-linear-gradient(-45deg, #00dbde 0%, #fc00ff 100%); 
    background: -webkit-linear-gradient(-45deg, #00dbde 0%, #fc00ff 100%); 
    background: linear-gradient(#2874A6, #2E86C1 0%, #154360 100%); 
}