/* =======================================================================================
* Author        : Robbee Labs
*
* Template Name : Alone Theme | Personal Resume/CV/Portfolio Html Template
*
* File          : Alone CSS file
*
* Version       : 1.0
=========================================================================================*/

/* TABLE OF CONTENT
===========================================================================================

00. Body, links, paragraphs, general style

01. Preloader

02. Header & Navigation

03. Section Intro

04. Section About

05. Section Skills

06. Section Resume

07. Section Fun Fact

08. Section Portfolio

09. Section Testimonial

10. Section Contact

11. Box Options Color Schemes

12. Responsive

========================================================================================= */


/*====================================================
    00. Body, links, paragraphs, general style
====================================================*/
body {
    background: #fff;
    font-size: 18px;
    line-height: 27px;
    color: #565656;
    font-family: 'Athiti', sans-serif;
    font-weight: 300;
}

h1,h2,h3 {
    font-family: 'Montserrat', serif;
    font-weight: 800;
    color: #141414;
}

img {
    max-width: 100%;
}

.section {
    padding: 90px 0;
    position: relative;
}

.title-section {
    margin-bottom: 60px;
}

.title-section h2 {
    margin: 0;
    font-size: 45px;
    line-height: 1;
}

.title-section p {
    font-size: 22px;
    line-height: 32px;
    padding-left: 50px;
    margin: 0;
}

.gradient:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(118,108,244);
    background: -moz-linear-gradient(-45deg, #AA076B 0%, #61045F 100%);
    background: -webkit-linear-gradient(-45deg, #AA076B 0%,#61045F 100%);
    background: linear-gradient(135deg, #AA076B 0%,#61045F 100%);
    opacity: 0.95;
    z-index: 1;
}

.button-alone {
    background: #6a1067;
    border: 1px solid #6a1067;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Montserrat', serif;
    -webkit-box-shadow: 0 2px 16px -1px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 2px 16px -1px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 2px 16px -1px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 2px 16px -1px rgba(0, 0, 0, 0.23);
    box-shadow: 0 2px 16px -1px rgba(0, 0, 0, 0.23);
    transform: translateY(0px);
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.button-alone i {
    margin-right: 10px;
}

.button-alone:hover {
    background: #fff;
    color: #6a1067;
    text-decoration: none;
    transform: translateY(-4px);
    -webkit-box-shadow: 0 2px 30px -1px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 2px 30px -1px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 2px 30px -1px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 2px 30px -1px rgba(0, 0, 0, 0.23);
    box-shadow: 0 2px 30px -1px rgba(0, 0, 0, 0.23);
}

.message-error {
    background: #ffabab;
    color: #a94442;
    padding: 5px 20px;
    font-weight: 700;
    display: none;
}

.message-success {
    background: #86f5a8;
    color: #238441;
    padding: 5px 20px;
    font-weight: 700;
    display: none;
}

/*====================================================
    01. Preloader
====================================================*/
.wrap-preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(118,108,244);
    background: -moz-linear-gradient(-45deg, #AA076B 0%, #61045F 100%);
    background: -webkit-linear-gradient(-45deg, #AA076B 0%,#61045F 100%);
    background: linear-gradient(135deg, #AA076B 0%,#61045F 100%);
    z-index: 9999;
}

.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 60px;
    margin: -30px 0 0 -40px;
}

.preloader .lines {
    width: 80px;
    height: 10px;
    position: absolute;
}
.preloader .lines .line {
    width: 80px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    clip: rect(0, 0, 20px, 0);
}

.preloader .lines .line {
    width: 80px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    clip: rect(0, 0, 20px, 0);
}

.preloader .lines .line.line-1 {
    top: 0;
    -webkit-animation: slide 2s ease 0s infinite;
    -moz-animation: slide 2s ease 0s infinite;
    -ms-animation: slide 2s ease 0s infinite;
    -o-animation: slide 2s ease 0s infinite;
    animation: slide 2s ease 0s infinite;
}
      
.preloader .lines .line.line-2 {
    top: 15px;
    -webkit-animation: slide 2s ease 0.25s infinite;
    -moz-animation: slide 2s ease 0.25s infinite;
    -ms-animation: slide 2s ease 0.25s infinite;
    -o-animation: slide 2s ease 0.25s infinite;
    animation: slide 2s ease 0.25s infinite;
}
      
.preloader .lines .line.line-3 {
    top: 30px;
    -webkit-animation: slide 2s ease 0.5s infinite;
    -moz-animation: slide 2s ease 0.5s infinite;
    -ms-animation: slide 2s ease 0.5s infinite;
    -o-animation: slide 2s ease 0.5s infinite;
    animation: slide 2s ease 0.5s infinite;
}
 
.loading-text {
    position: absolute;
    top: 50px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing: 3px;
    line-height: 10px;
    height: 10px;
    -webkit-animation: fade 1s ease 0s infinite;
    -moz-animation: fade 1s ease 0s infinite;
    -ms-animation: fade 1s ease 0s infinite;
    -o-animation: fade 1s ease 0s infinite;
    animation: fade 1s ease 0s infinite;
}

@-webkit-keyframes slide {
    0% {
        clip: rect(0, 0, 20px, 0);
    }

    30% {
        clip: rect(0, 80px, 20px, 0);
    }

    50% {
        clip: rect(0, 80px, 20px, 0);
    }

    80% {
        clip: rect(0, 80px, 20px, 80px);
    }
    
    100% {
        clip: rect(0, 80px, 20px, 80px);
    }
}

@-moz-keyframes slide {
    0% {
        clip: rect(0, 0, 20px, 0);
    }

    30% {
        clip: rect(0, 80px, 20px, 0);
    }

    50% {
        clip: rect(0, 80px, 20px, 0);
    }

    80% {
        clip: rect(0, 80px, 20px, 80px);
    }
    
    100% {
        clip: rect(0, 80px, 20px, 80px);
    }
}

@keyframes slide {
    0% {
        clip: rect(0, 0, 20px, 0);
    }

    30% {
        clip: rect(0, 80px, 20px, 0);
    }

    50% {
        clip: rect(0, 80px, 20px, 0);
    }

    80% {
        clip: rect(0, 80px, 20px, 80px);
    }
    
    100% {
        clip: rect(0, 80px, 20px, 80px);
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*====================================================
    02. Header & Navigation
====================================================*/
.header {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    padding: 40px 0;
}

.header.header-fixed {
    position: fixed;
    background: #fff;
    -webkit-box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0.15);
    padding: 25px 0;
}

.header .logo {
    float: left;
}

.header .logo h3 {
    margin: 0;
    line-height: 1;
}

.header .logo h3 a {
    color: #fff;
    text-decoration: none;
    font-size: 38px;
}

.header.header-fixed .logo h3 a {
    color: #141414;
}

.header .menu_mobile {
    display: none;
}

.header .menu {
    float: right;
}

.header .menu .box-menu {
    margin-top: 3px;
}

.header .menu .box-menu ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .menu .box-menu ul li {
    float: left;
    margin-left: 45px;
}

.header .menu .box-menu ul li a {
    color: #fff;
    font-size: 20px;
}

.header.header-fixed .menu .box-menu ul li a {
    color: #555;
}

.header .menu .box-menu ul li a:hover {
    text-decoration: none;
    opacity: 0.6;
}

.header .menu .box-menu ul li a:focus,
.header .menu .box-menu ul li a:active {
    text-decoration: none;
}

.close_mob {
    display: none;
}


/*====================================================
    03. Section Intro
====================================================*/
.intro {
    height: 100vh;
    position: relative;
    background-size: cover;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
}

.youtube .container {
    position: static!important;
}

.text-intro {
    position: absolute;
    bottom: 160px;
    display: inline-block;
    z-index: 2;
}

.inner-text-intro {
    position: relative;
}

.inner-text-intro h2 {
    margin: 0;
    white-space: nowrap;
    font-size: 75px;
    line-height: 1;
    color: #fff;
}

.inner-text-intro h1 {
    margin: 0 0 10px;
    white-space: nowrap;
    font-size: 100px;
    line-height: 1;
    color: #fff;
}

.inner-text-intro p {
    color: #fff;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 20px;
}

.social a {
    display: inline-block;
    background: #fff;
    color: #000;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    margin-right: 5px;
}

.social a:hover {
    opacity: 0.75;
}

.social a.facebook {
    color: #4e7dea;
}

.social a.twitter {
    color: #5ebfd6;
}

.social a.instagram {
    color: #1f3a79;
}

.social a.google-plus {
    color: #f13333;
}

.social a.behance {
    color: #ea7242;
}

/*====================================================
    04. Section About
====================================================*/
.about .container {
    position: relative;
}

.img-about {
    position: absolute;
    top: -280px;
    right: 50px;
    width: 350px;
    height: 350px;
    overflow: hidden;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
    border-radius: 999px;
    border: 15px solid #fff;
    -webkit-box-shadow: 0 3px 20px -1px rgba(0,0,0,0.36);
    -moz-box-shadow: 0 3px 20px -1px rgba(0,0,0,0.36);
    -ms-box-shadow: 0 3px 20px -1px rgba(0,0,0,0.36);
    -o-box-shadow: 0 3px 20px -1px rgba(0,0,0,0.36);
    box-shadow: 0 3px 20px -1px rgba(0,0,0,0.36);
    z-index: 2;
}

.info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.info ul li {
    margin-bottom: 30px;
}

.info ul li h3 {
    margin: 0 0 3px 0;
    font-size: 16px;
    line-height: 1;
}

.info ul li h3 i {
    margin-right: 10px;
    color: #bfbfbf;
    font-size: 24px;
    vertical-align: middle;
    margin-top: -3px;
}

.info ul li p {
    margin: 0;
}

.services h2 {
    margin-top: 90px;
    text-align: center;
    margin-bottom: 90px;
}

.box-service {
    text-align: center;
}

.icon-service {
    font-size: 60px;
}

.box-service h3 {
    font-size: 20px;
    font-weight: 700;
}

.box-service p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0;
}

/*====================================================
    05. Section Skills
====================================================*/
.skills {
    padding: 50px 0;
    overflow: hidden;
}

.skills .container {
    position: relative;
    z-index: 3;
}

.skills-list h3 {
    color: #fff;
    margin-top: 0;
    font-size: 18px;
}

.skills-progress {
    width: 100%;
    height: 13px;
    margin-bottom: 30px;
    position: relative;
    background: #fff;
    border: 3px solid #fff;
}

.skills-list .skills-progress:last-child {
    margin-bottom: 0;
}

.skills-progress span {
    color: #6a1067;
    position: absolute;
    right: -4px;
    background: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 999px;
    top: -22px;
    font-size: 15px;
}

.skill-bar-inner {
    background: #6a1067;
}

.skill-bar-inner {
    height: 7px;
    width: 0%;
    position: relative;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}

/*====================================================
    06. Section Resume
====================================================*/
.box_timeline_resume {
    position: relative;
    margin-bottom: 120px;
}

.box_timeline_resume:last-child {
    margin-bottom: 0;
}

.box_timeline_resume > h3 {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 70px;
    color: #e6e6e6;
    -webkit-transform-origin: -6px 0;
    -moz-transform-origin: -6px 0;
    -ms-transform-origin: -6px 0;
    -o-transform-origin: -6px 0;
    transform-origin: -6px 0;
}

.timeline_resume {
    padding-left: 150px;
}

.list_resume {
    padding: 35px 30px 40px;
    position: relative;
}

.list_resume:last-child {
    padding: 35px 30px 10px;
}

.list_resume:before {
    width: 20px;
    height: 20px;
    display: block;
    top: 5px;
    position: absolute;
    left: -11px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    content: '';
}

.years {
    position: absolute;
    top: 0;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Montserrat', serif;
}

.list_resume h1 {
    font-size: 21px;
    color: #141414;
    margin: 0 0 10px;
    font-weight: 700;
}

.list_resume p {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 27px;
}

.list_resume:before {
    border: 2px solid #6a1067;
    background: #fff;
}

.list_resume {
    border-left: 2px solid #6a1067;
}

.years {
    color: #6a1067;
}

/*====================================================
    07. Section Fun Fact
====================================================*/
.fun-fact {
    padding: 50px 0;
    overflow: hidden;
}

.fun-fact .container {
    position: relative;
    z-index: 3;
}

.box_fun_fact {
    text-align: center;
}

.icon_fun_fact {
    font-size: 60px;
    color: #fff;
}

.box_fun_fact h3 {
    color: #fff;
    font-size: 20px;
}

.box_fun_fact p {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 0;
    color: #fff;
}

/*====================================================
    08. Section Portfolio
====================================================*/
.filters-portfolio {
    margin-bottom: 30px;
}

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filters .filter {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 300;
}

.filters .filter:first-child {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 18px;
    cursor: pointer;
    font-weight: 300;
}

.filters .filter.active {
    opacity: 0.6;
}

.grid-item {
    margin-bottom: 30px;
}

.grid-item a {
    display: block;
    position: relative;
    outline: none;
    overflow: hidden;
}

.grid-item a img,
.grid-item,
.item-hover {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.grid-item a img {
    width: 100%;
}

.item-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    background: rgb(118,108,244);
    background: -moz-linear-gradient(-45deg, #AA076B 0%, #61045F 100%);
    background: -webkit-linear-gradient(-45deg, #AA076B 0%,#61045F 100%);
    background: linear-gradient(135deg, #AA076B 0%,#61045F 100%);
}

.grid-item a:hover > .item-hover {
    opacity: 0.95;
    visibility: visible;
}

.grid-item a:hover > img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.item-hover h3 {
    color: #fff;
    margin: 0;
    font-weight: 400;
}

.item-hover p {
    color: #fff;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}

.modal-box {
	max-width: 550px;
	background: #fff;
	position: relative!important;
	margin: 0 auto;
	left: 0!important;
}

.modal-box img {
	width: 100%;
	height: 100%;
}

.modal-box-content {
	padding: 30px;
}

.modal-box-content h3 {
	font-size: 23px;
    line-height: 27px;
    margin: 0;
    color: #1a1a1a;
}

.modal-box-content span {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #c3c3c3;
    font-style: italic;
    margin-bottom: 20px;
    display: block;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
}

.modal-box-content p {
    font-size: 18px;
    line-height: 27px;
    margin: 0;
}

/*====================================================
    09. Section Testimonial
====================================================*/
.testimonial {
    padding: 60px 0 110px;
    position: relative;
}

.testimonial .container {
    position: relative;
}

.owl-slides {
    max-width: 780px;
    margin: 0 auto;
}

.owl-slides .items {
    text-align: center;
    cursor: move;
}

.owl-slides .items .photo {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
    border-radius: 999px;
    overflow: hidden;
    display: inline-block;
    border: 5px solid #fff;
}

.owl-slides .items .description {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px;
    color: #fff;
}

.owl-slides .items .who-name {
    font-size: 18px;
    line-height: 27px;
    line-height: 1;
    margin-bottom: 7px;
    font-family: 'Montserrat', serif;
    font-weight: 700;
    color: #fff;
}

.owl-slides .items .company-name {
    font-size: 18px;
    line-height: 27px;
    color: #fff;
}

.testimonial .owl-dots {
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    text-align: center;
}

.testimonial .owl-dot {
    display: inline-block;
    margin-right: 13px;
}

.testimonial .owl-dot:last-child {
    margin-right: 0;
}

.testimonial .owl-dot span {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: transparent;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
    border-radius: 999px;
    border: 2px solid #fff;
}

.testimonial .owl-dot.active span {
    background: #fff;
    border: 2px solid #fff;
}


/*====================================================
    10. Section Contact
====================================================*/
.contact {
    padding-bottom: 0;
}

.contact p {
    font-size: 18px;
    line-height: 27px;
}

.contact_info {
    margin-top: 30px;
}

.contact_info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact_info ul li {
    margin-bottom: 20px;
}

.contact_info ul li h3 {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    color: #141414;
}

.form {
    padding-top: 5px;
}

.form .btn-download {
    margin-top: 0;
}

.form-control {
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: #2874A6;
    width: 100%;
    height: 45px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 30px;
    color: #141414;
    background-color: white;
    background-image: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    margin-bottom: 5px;
    outline: none;
}

.form-control:focus {
    border-color: #141414;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

#googlemap {
    margin-top: 60px;
    height: 400px;
}

.footer {
    margin-top: 40px;
    background: #D4D4D4;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    color black;
}

/*====================================================
    11. Box Options Color Schemes
====================================================*/
.box-options {
	position: fixed;
    right: -150px;
    top: 100px;
    z-index: 998;
    text-align: right;
    z-index: 90;
    width: 200px;
    -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out; 
}

.box-options.show {
    right: 50px;
}

.box-options ul {
	background: #fff;
    list-style: none;
    width: 200px;
	padding-bottom: 0;
    padding: 9px 4px 0px;
    margin: 0;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.15);
}

.box-options ul li:not(.title-options) {
    width: 64px;
    padding: 0 5px;
    margin-bottom: 10px;
    float: left;
    height: 53px;
}

.box-options ul li.title-options {
    width: 100%;
    padding: 0 5px;
    margin-bottom: 10px;
    float: left;
    text-align: left;
    font-weight: 700;
}

.box-options ul li a.color,
.box-options ul li a.theme {
    display: block;
    width: 100%;
    height: 100%;
    background: #f86923;
}

.box-options ul li a.color.skin-default {
    background: rgb(118,108,244);
    background: -moz-linear-gradient(-45deg, #AA076B 0%, #61045F 100%);
    background: -webkit-linear-gradient(-45deg, #AA076B 0%,#61045F 100%);
    background: linear-gradient(135deg, #AA076B 0%,#61045F 100%);
}

.box-options ul li a.color.skin-custom-1 {
    background: #fc00ff;
    background: -moz-linear-gradient(-45deg, #00dbde 0%, #fc00ff 100%); 
    background: -webkit-linear-gradient(-45deg, #00dbde 0%, #fc00ff 100%); 
    background: linear-gradient(135deg, #00dbde 0%, #fc00ff 100%); 
}

.box-options ul li a.color.skin-custom-2 {
    background: #7b4397;
    background: -moz-linear-gradient(-45deg, #dc2430 0%, #7b4397 100%);
    background: -webkit-linear-gradient(-45deg, #dc2430 0%, #7b4397 100%);
    background: linear-gradient(135deg, #dc2430 0%, #7b4397 100%);
}

.box-options ul li a.color.skin-custom-3 {
    background: #833ab4;
    background: -moz-linear-gradient(-45deg, #fcb045 0%, #fd1d1d 50%, #833ab4 100%); 
    background: -webkit-linear-gradient(-45deg, #fcb045 0%, #fd1d1d 50%, #833ab4 100%); 
    background: linear-gradient(135deg, #fcb045 0%, #fd1d1d 50%, #833ab4 100%); 
}

.box-options ul li a.color.skin-custom-4 {
    background: #C33764;
    background: -moz-linear-gradient(-45deg, #1D2671 0%, #C33764 100%);
    background: -webkit-linear-gradient(-45deg, #1D2671 0%, #C33764 100%);
    background: linear-gradient(135deg, #1D2671 0%, #C33764 100%);
}

.box-colors {
    padding-right: 200px;
}

.options {
    background: #fff;
    font-size: 23px;
    padding: 13px 15px;
    cursor: pointer;
    float: left;
    -webkit-box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.15);
}

.options span {
    display: block;
}

.options:hover {
    color: #000;
}

/*====================================================
    12. Responsive
====================================================*/
@media screen and (max-width: 990px){
    
    .header .menu_mobile {
        display: block;
        float: right;
        color: #fff;
        font-size: 30px;
        margin-top: 3px;
    }
    
    .header .menu_mobile a {
        float: right;
        color: #fff;
    }
    
    .header.header-fixed .menu_mobile a {
        color: #141414;
    }
    
    .header .menu {
        display: block;
        position: fixed!important;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        background: rgba(0, 0, 0, 0.95);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    
    .header .menu.on {
        opacity: 1;
        visibility: visible;
    }
    
    .header .menu .box-menu {
        margin-top: 0;
        margin-top: 85px;
    }
    
    .header .menu .box-menu ul {
        width: 100%;
    }
    
    .header .menu .box-menu ul li {
        float: left;
        width: 100%;
        margin-left: 0;
        margin-bottom: 44px;
        text-align: center;
    }
    
    .header .menu .box-menu ul li a {
        font-size: 30px;
    }
    
    .header.header-fixed .menu .box-menu ul li a {
        color: #fff;
    }
    
    .close_mob {
        position: fixed;
        display: block;
        right: 15px;
        top: 15px;
        font-size: 30px;
        color: #fff;
    }
    
    .close_mob:hover,
    .close_mob:active,
    .close_mob:focus {
        opacity: 0.7;
        color: #fff;
    }
    
    .img-about {
        position: relative;
        top: 0;
        right: 0;
        width: 350px;
        height: 350px;
        margin: 0 auto 60px;
    }
    
    .box-service, .box_fun_fact {
        margin-bottom: 30px;
    }
    
}

@media screen and (max-width: 768px){
    
    .inner-text-intro h2 {
        white-space: normal;
        font-size: 55px;
        line-height: 58px;
    }

    .inner-text-intro h1 {
        white-space: normal;
        font-size: 80px;
        line-height: 72px;
    }
    
    .text-intro {
        right: 0;
        bottom: 160px;
        left: 0;
        padding: 0 15px;
    }
    
    .story, .skills-list {
        margin-bottom: 60px;
    }
    
    .skills-list:last-of-type {
        margin-bottom: 0;
    }
    
}

@media screen and (max-width: 480px){
    
    .header .logo h3 a {
        font-size: 28px;
    }
    
    .header .menu_mobile {
        margin-top: 0px;
    }
    
    .inner-text-intro h2 {
        font-size: 48px;
        line-height: 51px;
    }

    .inner-text-intro h1 {
        white-space: normal;
        font-size: 60px;
        line-height: 58px;
    }
    
    .img-about {
        width: 250px;
        height: 250px;
    }
    
    .inner-text-intro p {
        font-size: 24px;
        line-height: 28px;
    }
    
    .timeline_resume {
        padding-left: 0;
    }
    
    .title-section h2 {
        font-size: 33px;
    }

    .title-section p {
        font-size: 18px;
        line-height: 28px;
    }
    
    .box_timeline_resume > h3 {
        color: #f7f7f7;
    }
    
}

@media screen and (max-height: 360px){
    .text-intro {
        bottom: 22px;
    }
    
    .header .menu {
        overflow-y: auto;
    }
}

/*====================================================
    13. Preview Demo Style
====================================================*/
.header-preview {
    padding: 60px 0;
}

.header-preview h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
}

.header-preview h4 {
    margin: 0;
    font-size: 22px;
}

.main-preview {
    padding: 60px 0;
}

.list-demo {
    margin-bottom: 30px;
}

.list-demo a {
    text-decoration: none;
    display: block;
}

.list-demo h4 {
    font-family: 'Montserrat', serif;
    font-weight: 600;
    color: #141414;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.list-demo img {
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.list-demo a:hover img {
    opacity: 0.7;
}

.list-demo a:hover h4 {
    color: #6a1067;
}